@model int

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["AccountPageTitle"];
}

<script>
    let userId = @Model;
    let wrongYouTubeUrl = "Invalid or outdated channel url!";
</script>

<div id="user">
    <div v-cloak class="container">
        <div class="background-box">
            <h1>{{ user.userName }}</h1>
        </div>
        <div>
            <b>Email:</b>
            <span>{{ user.email }}</span>
        </div>
        <template v-if="team.exists">
            <div>
                <b>Team:</b>
                <a v-bind:href="'/team?id=' + team.id">{{ team.name }}</a>
            </div>
            <div>
                <b>YouTube channel:</b>
                <a v-if="teamMember.youTubeId !== null"
                   v-bind:href="'https://www.youtube.com/channel/' + teamMember.youTubeId"
                   title="Go to YouTube channel">
                    connected
                </a>
                <span v-else>
                    not assigned
                </span>
                <template v-if="editYT.canEdit">
                    <button v-on:click="$refs.changeYouTubeIdModal.openModal">Edit</button>
                    <button v-on:click="discardYouTubeId">Unbind</button>
                </template>
            </div>
        </template>
        <template v-else>
            <div>
                Does not have any team yet!
            </div>
        </template>
    </div>

    <modal v-cloak ref="changeYouTubeIdModal" header="Set YouTube account"
           closeText="Cancel"
           okText="Change" v-on:ok="changeYouTubeId">
        <div style="color: red">
            {{ editYT.error }}
        </div>
        <div>
            <div>
                <label>Enter YouTube channel link</label>
                <input type="text" v-model="editYT.youTubeUrl" />
            </div>
        </div>

    </modal>
</div>

@section Scripts {
    <script src="~/js/user.js"></script>
}