@inject IViewLocalizer Localizer
@inject IHtmlLocalizer<SharedView> SharedLocalizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<div class="container">
    <div id="backups">
        <h1>Backup database</h1>
        <div>
            <label>Backup file name</label>
            <input type="text" v-model="file" />
        </div>
        <div v-if="successMessageSeen">
            Backup is successfully made!
        </div>
        <button class="btn btn-primary" v-on:click="make">Make backup</button>
        <button class="btn btn-primary" v-on:click="download">Download backup</button>
    </div>
    <div id="certExpiration">
        <div>
            SSL certificate expires at {{ expiration.toLocaleString() }}
        </div>
    </div>
</div>

<div id="configTable" class="container">
    <h1>System configuration</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Property</th>
                <th scope="col">New value</th>
                <th scope="col">Current value</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(c, i) in configs" v-bind:class="{editedRow: c.value !== c.prevValue}">
                <th>{{ i + 1 }}</th>
                <td>{{ c.key }}</td>
                <td><input type="text" v-model="c.value" /></td>
                <td>{{ c.prevValue }}</td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" v-on:click="saveChanges">Save changes</button>
</div>

@section Scripts {
    <script src="~/js/backups.js"></script>
    <script src="~/js/certExpiration.js"></script>
    <script src="~/js/configTable.js"></script>
}