@model int
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <h1 class="text-danger">
        @Model
        @switch (Model)
        {
            case 404:@: Not Found
                break;
            case 403: @: Forbidden
                break;
        }
    </h1>
    <h2 class="text-danger">
        It looks like you've tried to access a deleted or restricted page.
    </h2>
    <h3>
        If you're sure that this is an error, contact us.
    </h3>
</div>