@model int
@{
    ViewData["Title"] = "Error";
}

@inject IHtmlLocalizer<SharedView> SharedLocalizer

<div class="container">
    <h1 class="text-danger">
        @Model
        @switch (Model)
        {
            case 404:@: Not Found
                break;
            case 403: @: Forbidden
                break;
        }
    </h1>
    <h2 class="text-danger">
        @SharedLocalizer["ErrorDescr"]
    </h2>
    <h3>
        @SharedLocalizer["ErrorMistake"]
    </h3>
</div>