@model int

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<script>
    let teamId = @Model;
    let removeMemberConfirmBegin = "@Localizer["ConfirmMemberRemovalBegin"]";
    let removeMemberConfirmEnd = "@Localizer["ConfirmMemberRemovalEnd"]";
</script>

<div id="team">
    <template v-if="team.name !== null">
        <div class="container">
            <h1>{{ team.name }}</h1>
            <button v-on:click="switchEditingMode">Turn on edit mode</button>
            <div class="row background-box">
                <div v-for="(member, i) in team.members" class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="team-member-card">
                        <img v-bind:src="`https://eu.ui-avatars.com/api/?name=${member.name}&background=random`" />
                        {{ member.name }}
                        <div v-if="edit.turnedOn" class="pull-right">
                            <button v-on:click="removeMember(i)">X</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <div class="team-member-card">
                        <img src="https://eu.ui-avatars.com/api/?name=Add&background=random&length=3" />
                        <div>
                            Add a user to the team
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <template v-else>
        <input type="text" v-model="newTeam.name" />
        <button v-on:click="registerTeam">Create new team</button>
    </template>
</div>

@section Scripts {
    <script src="~/js/team.js"></script>
}
