@model int

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<script>
    let teamId = @Model;
    let removeMemberConfirmBegin = "@Localizer["ConfirmMemberRemovalBegin"]";
    let removeMemberConfirmEnd = "@Localizer["ConfirmMemberRemovalEnd"]";
    let userNotFound = "User does not exist!";
    let userIsAlreadyInTeam = "User already belongs to a team!";
</script>

<div id="team">
    <template v-if="team.id === -2">
        <input type="text" v-model="newTeam.name" />
        <button v-on:click="registerTeam">Create new team</button>
    </template>
    <template v-if="team.name !== null">
        <div class="container">
            <h1>{{ team.name }}</h1>
            <button v-on:click="switchEditingMode">Turn on edit mode</button>
            <div class="row row-eq-height">
                <div v-for="(member, i) in team.members"
                     class="col-lg-4 col-md-6 col-sm-12 col-xs-12 mt-3">
                    <div class="team-member-card">
                        <img v-on:click="goToUserPage(i)"
                             v-bind:src="`https://eu.ui-avatars.com/api/?name=${member.name}&background=random`" />
                        <div v-on:click="goToUserPage(i)"
                             class="name">
                            {{ member.name }}
                        </div>
                        <div v-if="edit.turnedOn" class="delete-button">
                            <i v-on:click="removeMember(i)" class="fas fa-user-minus"></i>
                        </div>
                    </div>
                </div>
                <div v-if="edit.turnedOn"
                     class="col-lg-4 col-md-12 col-sm-12 col-xs-12 mt-3">
                    <div class="team-member-card">
                        <div v-on:click="$refs.newTeamMemberModal.openModal()" class="name">
                            <i class="fas fa-user-plus"></i>
                            Add member
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>

    <modal v-cloak ref="newTeamMemberModal" header="Add team member"
           closeText="Close"
           okText="Add" v-on:ok="addMember">
        <div v-if="newTeamMember.errorMessage !== null" style="color: red">
            {{ newTeamMember.errorMessage }}
        </div>
        <form id="addTeamMemberForm">
            <div>
                <label>User name or email</label>
                <input type="text" v-model="newTeamMember.emailOrUserName" />
            </div>
        </form>
    </modal>

    <template v-if="team.name !== null">
        <div class="container">
            <h1>Trainings</h1>
            <div>
                <label>Select period of time</label>
                <select v-model="trainings.spanType" v-on:change="updateTrainings">
                    <option value="0">Last 7 days</option>
                    <option value="1">Last 30 days</option>
                    <option value="2">Date</option>
                </select>
            </div>
            <div v-if="trainings.spanType == 2">
                <label>Select date</label>
                <input type="date" v-model="trainings.date" v-on:change="updateTrainings"/>
            </div>
            <div class="row mt-3">
                <div v-for="training in trainings.list" 
                     class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="training-card text-center" v-on:click="">
                        {{ new Date(training.beginTime).toLocaleString() }}
                    </div>
                </div>
            </div>
        </div>
    </template>
</div>

@section Scripts {
    <script src="~/js/team.js"></script>
}
