@model int

@inject IViewLocalizer Localizer

@{
    ViewData["Title"] = Localizer["PageTitle"];
}

<script>
    let trainingId = @Model;
    let criticalMomentIndex = -1;
</script>

<div id="training" class="container">

    <div v-if="beginTime" class="background-box">
        <h1 class="text-center">Training {{ beginTime.toLocaleDateString() }}</h1>
    </div>

    <div v-cloak class="row">
        <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12">
            <h1>Critical moments</h1>
            <div class="list-group">
                <button v-for="m in criticalMoments"
                        class="list-group-item list-group-item-action"
                        v-bind:class="{active: currentCriticalMoment === m}"
                        v-on:click="currentCriticalMoment = m">
                    {{ new Date(m.begin).toLocaleTimeString() }} -
                    {{ new Date(m.end).toLocaleTimeString() }}
                </button>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 col-sm-12 col-xs-12">
            <div v-if="currentVideo">
                <h1>Video record</h1>
                <div class="videoContainer">
                    <iframe v-if="currentVideo" name="mainVideo"
                            v-bind:src="restartVideoUrl" frameborder="0"
                            allowfullscreen></iframe>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 mt-3">
                        <a v-bind:href="restartVideoUrl"
                           target="mainVideo">
                            <div class="btn btn-primary">
                                Move to beginning
                                {{ secondsToHHMMSS(momentVideoInterval.begin) }} -
                                {{ secondsToHHMMSS(momentVideoInterval.end) }}
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6 mt-3">
                        <button class="btn btn-secondary">
                            Share
                        </button>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-12 col-xs-12 mt-2 inline-input">
                        <label>View record of </label>
                        <select v-model="currentVideoIndex">
                            <option v-for="(video, i) in videosForMoment"
                                    v-bind:value="i">
                                {{ getTeamMemberNameById(video.teamMemberId) }}
                            </option>
                        </select>
                    </div>
                </div>
                <state-displayer v-bind:training-id="trainingId"
                                 v-bind:users-list="teamMembers">
                    <p>;)</p>
                </state-displayer>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://unpkg.com/vue-chartjs/dist/vue-chartjs.min.js"></script>
    <script src="~/js/components/statePlot.js"></script>
    <script src="~/js/components/stateDisplayer.js"></script>
    <script src="~/js/training.js"></script>
}